<header class="header">
    <nav class="header__nav">
        <ul class="header__nav--menu">
            <li><a href="/">| home</a></li>
            <li><a href="/about">| about</a></li>
            <li><a href="/music">| music</a></li>
            <li><a href="/contact">| contact |</a></li>
        </ul>
        <div class="header__nav--redes">
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a href=""><i class="fa-brands fa-spotify"></i></a>
            <a href=""><i class="fa-brands fa-apple"></i></a>
            <a href=""><i class="fa-brands fa-amazon"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
        </div>
    </nav>
</header>