<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %> 

<body class="about">
    <%- include('./partials/header') %> 

    <main class="about__main">
        <h1 class="about__main--titulo">about<br>emilia //</h1>
        <section class="about__main__section">
            <!-- caja para comentarios -->
            <article class="about__main__section__article">
                <!-- caja para el comentario -->
                <h3 class="about__main__section__article--comentario">"Seattle-based pop star makes her <br>indie debut with a hauntingly beautiful album" </h3>
                <p class="about__main__section__article--firmante">- John Tirckle, Music Today Post
                </p>
            </article>
            <article class="about__main__section__article">
                <!-- caja para el comentario -->
                <h3 class="about__main__section__article--comentario">"Emilia Cole is one of the <br>scene's breakout stars"</h3>
                <p class="about__main__section__article--firmante">- John Tirckle, Music Today Post
                </p>
            </article>
        </section>
    </main>
</body>

</html>