<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <script src="https://kit.fontawesome.com/3194bc8083.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body class="about">
    <header class="header">
        <nav class="header__nav">
            <ul class="header__nav--menu">
                <li><a href="/">| home</a></li>
                <li><a href="/about">| about</a></li>
                <li><a href="/music">| music</a></li>
                <li><a href="/contact">| contact |</a></li>
            </ul>
            <div class="header__nav--redes">
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                <a href=""><i class="fa-brands fa-spotify"></i></a>
                <a href=""><i class="fa-brands fa-apple"></i></a>
                <a href=""><i class="fa-brands fa-amazon"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
            </div>
        </nav>
    </header>
    <main class="about__main">
        <h1 class="about__main--titulo">about<br>emilia //</h1>
        <section class="about__main__section">
            <!-- caja para comentarios -->
            <article class="about__main__section__article">
                <!-- caja para el comentario -->
                <h3 class="about__main__section__article--comentario">"Seattle-based pop star makes her <br>indie debut with a hauntingly beautiful album" </h3>
                <p class="about__main__section__article--firmante">- John Tirckle, Music Today Post
                </p>
            </article>
            <article class="about__main__section__article">
                <!-- caja para el comentario -->
                <h3 class="about__main__section__article--comentario">"Emilia Cole is one of the <br>scene's breakout stars"</h3>
                <p class="about__main__section__article--firmante">- John Tirckle, Music Today Post
                </p>
            </article>
        </section>
    </main>
</body>

</html>