<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/music">music</a></li>
                <li><a href="/contact">contact</a></li>
            </ul>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a href=""><i class="fa-brands fa-spotify"></i></a>
            <a href=""><i class="fa-brands fa-apple"></i></a>
            <a href=""><i class="fa-brands fa-amazon"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
        </nav>
    </header>
    <main>
        <h1>contact //</h1>
        <!-- caja de mapa -->
        <section>
            <h3>we are here</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d317718.69319292053!2d-0.3817765050863085!3d51.528307984912544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondres%2C%20Reino%20Unido!5e0!3m2!1ses-419!2sar!4v1607031052203!5m2!1ses-419!2sar" width=100% height=450px frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> 
        </section>
        <!-- caja de contactos -->
        <section>
            <h3>contact info</h3>
            <article>
                <h4>MANAGMENT | Giuliana Gutierrez </h4>
                <p><b>email:</b> info@mysite.com</p>
                <p><b>phone</b>123-456-7890</p>
            </article>
            <article>
                <h4>BOOKING | José Luis Acevedo</h4>
                <p><b>email:</b> info@mysite.com</p>
                <p><b>phone</b>123-456-7890</p>
            </article>
            <article>
                <h4>LABEL | Rolando Javier Lisarazo</h4>
                <p><b>email:</b> info@mysite.com</p>
                <p><b>phone</b>123-456-7890</p>
            </article>
            <article>
                <h4>PR | Gabriel Tarelli</h4>
                <p><b>email:</b> info@mysite.com</p>
                <p><b>phone</b>123-456-7890</p>
            </article>
        </section>
    </main>
</body>
</html>