<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %> 

<body class="index">
    <!-- la imagen irá como fondo de pantalla -->
    <%- include('./partials/header') %> 
    <main class="index__main">
        <h2 class="index__main--subtitulo">emilia<br>cole //</h2>
        <h1 class="index__main--titulo">twist in my reality</h1>
    </main>
</body>

</html>