.about{
    background-image: url("/images/emilia-about.jpg");
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: right top;
}

.about__main{

}

.about__main--titulo {
    margin-top: 60px;
}

.about__main__section{
    color: var(--colorVerde);
}

.about__main__section__article{
    margin-top: 40px;
}

.about__main__section__article h3{
    margin-bottom: 20px;
}