.contact{

}

.contact__main{

}

.contact__main__section{
    margin-top: 20px;
}

.contact__main__section h3{
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: var(--tipografiaTitulos);
}

.contact__main__section__article{
    margin-bottom: 30px;
}

.contact__main__section__article h4{
    color: var(--colorVerde);
    margin-bottom: 20px;
}