*{
    margin: 0;
}
body {
    font-family: 'Open Sans';
}
a {
    text-decoration: none;
    color: black;
}
li {
    list-style: none;
}
ul, ol {
    padding: 0;
}

h1{
    font-family: Raleway,sans-serif;
    font-weight: 700;
    font-size: 65px;
    text-transform: uppercase;
}
