* {
    margin: 0;
}

body {
    font-family: var(--tipografiaGeneral);
    
}

main {
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

ul,
ol {
    padding: 0;
    list-style: none;
}

h1 {
    font-family: var(--tipografiaTitulos);
    font-weight: 700;
    font-size: 65px;
    text-transform: uppercase;
}