*{
    margin: 0;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
ul, ol {
    padding: 0;
}

h1{
    font-family: Raleway,sans-serif;
    font-size: 72px;
    text-transform: uppercase;
}
