.index__header{

    margin-left: 30px;
    margin-top: 20px;
    text-transform: uppercase;
}

.index__header__nav--menu{
    line-height: 40px;
}

.index__header__nav--menu li a{
    color: grey;
}


