.index {
  background-image: url("/images/emilia-home.jpg");
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: right -100px;
}

.index__main--subtitulo {
  font-family: "Work Sans";
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 300;
  margin-left: 30px;
  margin-top: 120px;
  margin-bottom: 120px;
  letter-spacing: 5px;
}

.index__main--subtitulo {
  line-height: 30px;
}

.index__main--titulo {
  background-color: rgba(255, 255, 255, 0.3);
  margin: 10px;
}
