@import "./variables.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@300;400;700&family=Work+Sans:wght@300;400;700&display=swap');
@import "./about.css";
@import "./contact.css";
@import "./general.css";
@import "./header.css";
@import "./index.css";
@import "./music.css";